.header {
    display:flex;
    justify-content: space-between;
    background-color: #CFCFCF;
}

.logo-header img{
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-right: 400px;
}

.menu-header ul {
    display: flex;
    list-style: none;
    margin-top: 45px;
}
.menu-header ul li {
    margin-right: 15%;
}
.menu-header ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.search-header form button{
    background-color: orange;
    font-weight: bold;
    color: aliceblue;
    margin-top: 45px;
}

